body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 90px;
  margin-bottom: 0;
  display: inline;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
#search {
  display: inline;
  margin-left: 250px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: 90px;
  border-radius: 30px;
}
input:focus::placeholder {
  color: transparent;
}
#search-btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 20px;
  background: #2c7597;
  font-size: 18px;
  color: white;
}
#current-location {
  display: inline;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 20px;
  background: #2c7597;
  font-size: 18px;
  color: white;
}
.today {
  border: solid;
  margin: auto;
  border-width: 5px;
  border-color: #2c7597;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#icon {
  max-width: 60px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sunny {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.temp-today {
  display: inline;
}
#temperature {
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.units {
  position: relative;
  top: -20px;
}
.high-low {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#humidity {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#humidity-name {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#percentage {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#wind {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#wind-name {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#m-s {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
hr {
  color: #2c7597;
  border: 5px solid;
}
